.list {
}

.option {
  margin-top: 8px;

  display: flex;
  gap: 8px;
}

.optionIcon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.optionTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.5px;

  color: #303030;
}
