@import "@styles/variables.scss";

.footerWrapper {
  padding: 10px 12px;
  border-top: 0.5px solid $main-border;
  background-color: $white-color;
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;


  & button {
    width: 100%;
  }
}

.webWrapper {
  max-width: 540px;
  margin: 0 auto;
  font-size: 16px;
}

/* MEDIA QUERIES */
@media (min-width: 450px) {
  .webWrapper {
    font-size: 20px;
  }
}
