@import "@styles/variables.scss";

.wrapper {
  position: relative;
  background-color: $white-color;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: auto;
}

.ellipseBox {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ellipse {
  position: absolute;

  width: 136%;
  height: auto;
  max-width: 1400px;
  top: -195px;
  left: 50%;
  transform: translateX(-50%);

  & svg {
    width: 100%;
    height: auto;
  }
}

.logoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  position: absolute;
  top: 2dvh;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 40dvh;
  max-width: 464px;
}

.contentWrapper {
  padding: 45dvh 0 120px;
  position: relative;
}

.title {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.5px;

  color: $main-black;
}

.description {
  max-width: 90%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.5px;

  color: $main-gray;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $white-color;
  padding: 20px 0 90px;
}

.logoBox {
  display: none;
  justify-content: center;
  padding: 10px;
  background-color: $dark-black;
  position: relative;
  z-index: 1;
}

.shortDescription {
  cursor: pointer;
}

.shortDescription:hover {
  color: $main-blue;
}

/* MEDIA QUERIES */
@media (min-width: 450px) {
  .ellipse {
    top: -300px;
  }
}

@media (min-width: 600px) {
  .logoBox {
    display: flex;
  }

  .title {
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .description {
    font-size: 20px;
    line-height: 26px;
  }

  .shortDescription {
    font-size: 18px;
  }
}

@media (min-width: 650px) {
  .ellipse {
    top: -400px;
  }
}

@media (min-width: 700px) {
  .ellipse {
    top: -500px;
  }
}

@media (min-width: 800px) {
  .ellipse {
    top: -600px;
  }
}
