@import "@styles/variables.scss";

.usersCard {
  box-sizing: border-box;
  width: 100%;

  padding: 16px 10px 16px 20px;

  background: $white-color;
  border-radius: 24px;
}

.usersTitleWrapper {
  display: flex;
}

.userPhoto {
  width: 35px;
  height: 35px;
  margin-right: 6px;
}

.usersNameWrapper {
  display: flex;
  text-align: left;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.7px;
  color: $main-black;
}

.userCountry {
  margin-left: 3px;
  width: 14px;
  height: 14px;
  transform: translateY(-2px);
}

.usersStarsWrapper {
  display: flex;
  justify-content: space-between;
  width: 62px;
  margin-top: 4px;
}

.usersCommentWrapper {
  margin-top: 12px;
  text-align: left;
}

.usersCommentWrapper h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.5px;

  color: $main-black;
}

.usersCommentWrapper p {
  margin-top: 6px;

  font-weight: 400;
  font-size: 9px;
  line-height: 16px;
  letter-spacing: -0.5px;

  color: $input-text;
}

/* MEDIA QUERIES */
@media (min-width: 600px) {
  .usersCard {
    padding-right: 17px;
  }

  .usersCommentWrapper {
    & h4 {
      width: 100% !important;

      font-size: 16px !important;
      line-height: 24px !important;
    }

    & p {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .userPhoto {
    width: 46px;
    height: 46px;
    margin-right: 8px;
  }

  .usersNameWrapper {
    align-items: center;
    font-size: 18px;
    line-height: 22px;
  }

  .userCountry {
    width: 18px;
    height: 18px;
    margin-left: 6px;
  }

  .usersStarsWrapper {
    gap: 3px;

    & svg {
      width: 14px;
      height: 14px;
    }
  }
}
