$main-blue: #3f97ff;
$light-blue: #d8e2f1;
$secondary-light-blue: #eef3f9;
$secondary-blue: #e7e9f6;
$background-blue: #7bbfff;
$main-gray: #6e6e6e;
$secondary-grey: #ccc;
$white-color: #ffffff;
$secondary-white-color: #f0f0f0;
$main-black: #303030;
$secondary-black: #333333;
$extra-black: #000;
$dark-black: #2d2d2d;
$reader-black: #1b1a19;
$reader-white: #b4b0ac;
$secondary-color: #6c757d;
$secondary-hover-color: #5a6268;
$dark-mode-grey: #64605B;
$success: #a4eac1;
$success-text-color: #219653;
$warning-bg-color: #ffd6bf;
$important-bg-color: #ffeedb;
$warning-text-color: #ac6f4c;
$error: #eb5757;
$main-green: #48af5f;
$secondary-green: #27ae60;
$new-secondary-green: #0AC038;
$main-border: #cdd2d9;
$secondary-border: #cdd2d980;
$main-orange: #f7dbbb;
$secondary-orange: #f6f0e7;
$dark-orange: #f19343;
$main-red: #ffc3bf;
$main-yellow: #ffe600;
$secondary-yellow: #ffdf7c;
$secondary-light-yellow: #fff7ed;
$secondary-red: #f2e8f0;
$main-shadow: rgba(0, 0, 0, 0.1);
$main-dark-shadow: rgba(0, 0, 0, 0.07);
$tooltip-shadow: rgba(0, 0, 0, 0.2);
$secondary-shadow: rgba(0, 0, 0, 0.05);
$secondary-light-shadow: rgba(0, 0, 0, 0.15);
$secondary-dark-shadow: rgba(0, 0, 0, 0.4);
$chat-dark-shadow: rgba(0, 0, 0, 0.5);
$modal-bg: rgba(0, 0, 0, 0.4);
$blue-shadow: rgba(63, 151, 255, 0.4);
$blue-chat-shadow: rgba(63, 151, 255, 0.5);
$input-text: #a4abb6;
$main-purple: #e4d7ff;
$badge-red: #ff6565;
$bottom-paper: #e0e0e0;
$background-orange: #efd7bd;
$background-secondary-orange: #f3d8b0;
$background-avatar: #fbecd5;
$border-avatar: #f9d7a4;
$main-light-orange: #ffceb0;
$gradient-orange: #ffe9d6;
$secondary-light-orange: #e9d1ac;
$bg-cropper-avatar: #d9d9d9;
$border-cropper-avatar: #e7f2ff;
$text-boolean-bg: #f9f9f9;
$new-guarantee-bg: #f7faff;
$new-guarantee-border: #e4eaf7;
$new-reserved-bg: #F6F8FC;
$new-reserved-line-bg: #E4E4E4;
$new-reserved-line: #FEBB01;
$new-premium-light-blue: #95C5FF;
$new-premium-light-blue-bg: #FDFEFE;
$new-premium-light-blue-border: #E5EBF7;
$new-premium-green: #51C700;
$new-premium-plan-bg: #F8FBFF;
$new-premium-option-bg: #FFFAF1;
$new-premium-option-stroke: #FFD234;
$button-pulse-shadow: #CBE3FF;
$subtitle-color: #C2BFF1;
$wreath-color: #E9DCAD;