.wrapper {
  background-color: #eef3f9;
}

.headerContent {
  display: flex;
  align-items: center;
  max-width: 50%;
  flex-wrap: wrap;
}

.headerContent img {
  margin-right: 4px;
}

.headerTitle {
  margin-right: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #6e6e6e;
}

.headerTime {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #303030;
}

.headerTimeBox {
  display: flex;
}

.contentWrapper {
  box-sizing: border-box;
  padding: 52px 0;
}

.contentBox {
  box-sizing: border-box;
  padding: 0 12px;
}

.priceWrapper {
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chipWrapper {
  box-sizing: border-box;
  margin-bottom: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;

  background: #ffdf7c;
  border: 1px solid #ffdf7c;
  border-radius: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #303030;
}

.priceTitle {
  margin-bottom: 15px;

  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.5px;

  color: #303030;
}

.priceBox {
  position: relative;
  width: 351px;
  height: 218px;
  border-radius: 32px;
  overflow: hidden;
}

.oldPriceBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 166px;
  height: 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: #ffffff;
  border-radius: 24px;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #303030;
}

.oldPriceTitle {
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-decoration: none;

  color: #303030;

  opacity: 0.5;
}

.oldPrice {
  text-decoration: line-through;
}

.newPriceBox {
  position: absolute;
  right: 0;
  width: 220px;
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: #ffdf7c;
  border-radius: 32px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.5px;

  color: #303030;
}

.newPriceTitleBox {
  font-weight: 600;
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newPriceTitleBox img {
  margin-left: 2px;
}

.newPrice {
  font-size: 18px;
}

.discountBox {
  border-top-left-radius: 24px;
  padding: 11px 11px 11px 27px;
  box-sizing: border-box;

  position: absolute;
  width: 113px;
  height: 46px;
  bottom: 0;
  right: 0;

  background: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #eb5757;
}

.orderWrapper {
  background: #ffffff;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  padding: 17px 0 53px;
}

.terms {
  margin: 16px 0 20px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5px;

  color: #6e6e6e;
}

.terms a {
  text-decoration: underline;

  color: #6e6e6e;
}

.divider {
  width: 100%;
  height: 0.5px;
  background-color: #cdd2d9;
}

.orderTitle {
  margin: 26px 0 25px;

  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.5px;

  color: #303030;
}

.ticketWrapper {
  position: relative;
  width: 350px;
  margin: 38px auto;
}

.ticketBG {
  position: absolute;
  top: 0;
}

.indexBox {
  position: relative;
  z-index: 1;
}

.verticalDivider {
  position: absolute;
  height: 70px;
  border-right: 1px dashed #cdd2d9;
  left: 50%;
  transform: translateX(-50%);
}

.ticketBox {
  padding: 21px 27px;
  height: 70px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticketItem {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.5px;

  color: #303030;
}

.ticketItem img {
  margin-right: 4px;
}

.guaranteeTitle {
  margin: 38px 0 30px;

  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;

  letter-spacing: -0.5px;

  color: #303030;
}

.paymentsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 8px;
}

.usersWrapper {
  padding: 40px 0;
}

.usersTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.5px;

  color: #303030;
}

.usersCardWrapper {
  margin-top: 10px;
}

.guaranteeWrapper {
  position: relative;
  padding: 40px 37px;
  box-sizing: border-box;
  height: 400px;
  width: 351px;
  margin: 0 auto;
}

.guaranteeBG {
  position: absolute;
  top: 0;
  left: 0;
}

.guaranteeBox {
  margin-top: 30px;
}

.guaranteeName {
  margin-top: 5px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.5px;

  color: #303030;
}

.guarantee {
  margin-top: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #303030;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #3f97ff;
}

.guaranteeIcon {
  margin: 0 auto;
}
