@import "@styles/variables.scss";

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.positionWrapper {
  position: relative;
  border: 2px solid $secondary-light-blue;
  border-radius: 30px;
}

.input {
  outline: none;
  box-sizing: border-box;
  padding: 15px;

  width: 100%;

  background: $white-color;
  border: 0.5px solid $input-text;
  border-radius: 24px;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;

  color: $main-black;
}

.input::placeholder {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.5px;

  color: $input-text;
}

.errorMessage {
  padding-left: 15px;
  font-weight: 500;
  font-size: 14px;
  color: $error;
}
