.wrapper {
  background-color: #eef3f9;
}

.headerContent {
  display: flex;
  align-items: center;
}

.headerTitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #303030;
}

.contentWrapper {
  box-sizing: border-box;
  padding: 35px 0 53px;
}

.contentBox {
  box-sizing: border-box;
  padding: 0 12px;
}

.title {
  margin-top: 5px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.5px;

  color: #303030;
}

.description {
  margin-top: 7px;

  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.5px;

  color: #303030;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleWrapper img {
  width: 24px;
  height: 24px;
}

.levelTable {
  margin: 30px 0 42px;
  width: 100%;
}

.levelHeader {
  display: flex;
}

.levelHeader p:first-child {
  padding-left: 20px;
  width: 64%;
}

.levelHeader p {
  width: 18%;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.5px;

  color: #a4abb6;
}

.levelBody {
  padding: 10px 6px;
  background: #ffffff;
  border-radius: 24px;
  box-sizing: border-box;
}

.level,
.activeLevel {
  padding: 15px 0;
  display: flex;
}

.level p,
.activeLevel p {
  width: 18%;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #303030;
}

.activeLevel p {
  font-weight: 600;
}

.activeLevel {
  background: #d8e2f1;
  border-radius: 12px;
}

.level p:first-child,
.activeLevel p:first-child {
  padding-left: 14px;
  width: 64%;
}

.chart {
  max-width: 375px;
  margin: 12px auto 48px;
}

.planWrapper {
  background: #ffffff;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;

  padding: 53px 0 77px;
}

.analyzeOption {
  margin-bottom: 16px;
}

.analyzeOptionWrapper {
  margin: 31px 0 40px;
}

.lessonsWrapper {
  padding: 56px 0 73px;
}

.lessonsBox {
  margin-top: 35px;
}

.lessonsBox img {
  width: 120px;
  height: 250px;
}

.whatYouGetWrapper {
  position: relative;
  z-index: 1;
  padding: 48px 0 82px;
  background-color: #fff;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.whatYouGetBox {
  margin-top: 23px;
}

.whatYouGetOptionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vocabularyBlock {
  margin-bottom: 5px;
  padding: 7px 8px 6px;
  position: relative;
  width: 154px;
  height: 74px;
  box-sizing: border-box;
}

.vocabularyBg {
  position: absolute;
  top: 0;
  left: 0;
}

.vocabularyContent {
  position: relative;
  z-index: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.whatYouGetOptionTitleBox {
  display: flex;
  align-items: center;
  height: 11px;
  font-weight: 700;
  font-size: 4.37853px;
  line-height: 9px;
  letter-spacing: -0.218927px;

  color: #303030;
}

.whatYouGetOptionTitleImage {
  margin-left: 2px;
  width: 8px;
  height: 8px;
}

.whatYouGetOptionDescrBox h3 {
  margin-top: 3.5px;

  font-weight: 500;
  font-size: 8.75706px;
  line-height: 9px;
  letter-spacing: -0.218927px;

  color: #303030;
}

.whatYouGetOptionDescrBox p {
  margin-top: 2px;
  font-weight: 400;
  font-size: 5.25424px;
  line-height: 7px;
  letter-spacing: -0.218927px;

  color: #6e6e6e;
}

.whatYouGetOptionButton {
  padding: 2px 4px;
  width: 47px;
  display: flex;
  align-items: center;

  background: #ffffff;
  border: none;
  border-radius: 13px;

  font-size: 4.37853px;
  line-height: 9px;
  text-align: center;
  letter-spacing: -0.218927px;
  color: #000000;
}

.whatYouGetOptionButton span {
  height: 9px;
  width: 100%;
}

.whatYouGetOptionLessonBox {
  display: flex;
}

.whatYouGetOptionLessonBox > div {
  margin-right: 5px;
}

.whatYouGetOption {
  border-radius: 14px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px 8px 6px;
  position: relative;
  box-sizing: border-box;
}

.whatYouGetOptionRed {
  background-color: #ffc3bf;
}

.whatYouGetOptionBlue {
  background-color: #7bbfff;
}

.whatYouGetOptionYellow {
  background-color: #efd7bd;
}

.whatYouGetOptionSmall {
  width: 74px;
  height: 74px;
}

.whatYouGetOptionTextWrapper h3 {
  margin-bottom: 9px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.5px;

  color: #303030;
}

.whatYouGetOptionTextWrapper p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5px;
  color: #6e6e6e;
}

.whatYouGetOptionTextWrapper {
  width: 167px;
}

.gamesWrapper {
  margin: 53px 0 46px;
  position: relative;
  width: 136px;
  height: 136px;
}

.gameWrapper {
  position: absolute;
  border: 1.64px solid #d8e2f1;
  border-radius: 12px;
  width: 44px;
  height: 44px;
}

.gameBox {
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border: 0.2px solid #cdd2d980;

  border-radius: 9.8px;
}

.gameBox img {
  width: 33px;
  height: 33px;
}

.gameBox p {
  font-weight: 400;
  font-size: 5.74359px;
  line-height: 8px;
  text-align: center;
  letter-spacing: -0.205128px;

  color: #303030;
}

.gameWrapper:nth-child(2) {
  right: 0;
}

.gameWrapper:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameWrapper:nth-child(4) {
  bottom: 0;
}

.gameWrapper:nth-child(5) {
  bottom: 0;
  right: 0;
}

.knowledgeWrapper {
  margin-bottom: 34px;
  background: #f7dbbb;
  width: 152px;
  height: 130px;
  border-radius: 10px;
  position: relative;
}

.knowledgeBg {
  position: absolute;
  top: -3px;
  left: -4px;
}

.knowledgeBoy {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.knowledgeContent {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 8.25243px;
  line-height: 8px;
  text-align: center;
  letter-spacing: -0.206311px;

  color: #303030;
}

.knowledgeField {
  width: 30px;
  height: 18px;
  margin: 0 2px;

  background: #eef3f9;
  border: 0.2px solid #cdd2d9;
  border-radius: 12px;
}

.whatYouGetOptionBig {
  width: 149px;
  height: 73px;
}

.popularPhrasesWrapper > div {
  margin-bottom: 5px;
}

.popularPhrasesWrapper .whatYouGetOptionDescrBox {
  width: 82px;
}

.popularPhrasesSofaImage {
  position: absolute;
  bottom: 3px;
  right: 1px;
}

.popularPhrasesBagImage {
  position: absolute;
  bottom: -1px;
  right: 5px;
}

.usersWrapper {
  padding: 64px 0 54px;
  position: relative;
}

.usersBg {
  position: absolute;
  top: -71px;
  left: 50%;
  transform: translateX(-50%);
}

.indexBox {
  position: relative;
  z-index: 1;
}

.usersTopCard {
  box-sizing: border-box;
  width: 230px;
  height: 165px;
  position: absolute;
  transform: translateX(-30%);
}

.usersDownCard {
  box-sizing: border-box;
  width: 230px;
  height: 165px;

  position: absolute;
  bottom: -108%;
  left: 60%;
}

.usersSwapWrapper {
  margin-top: 20px;
}

.guaranteeWrapper {
  position: relative;
  padding: 46px 31px 89px;
  box-sizing: border-box;
  width: 351px;
  margin: 0 auto;
  height: 420px;
}

.guaranteeBG {
  position: absolute;
  top: 0;
  left: 0;
}

.guaranteeBox {
  margin-top: 38px;
}

.guarantee {
  margin-top: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #303030;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #3f97ff;
}

.yourPlanWrapper {
  padding-top: 41px;
}

.yourPlanExampleBox {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 273px;
  height: 226px;
}

.yourPlanExampleBox img {
  position: absolute;
  width: 87px;
  height: 178px;
}

.yourPlanExampleBox img:nth-child(1) {
  bottom: 0;
}

.yourPlanExampleBox img:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
}

.yourPlanExampleBox img:nth-child(3) {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.yourPlanBox {
  margin: 24px 0 27px;
}

.terms {
  margin-top: 12px;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.5px;

  color: #6e6e6e;
}

.terms a {
  text-decoration-line: underline;

  color: #6e6e6e;
}

.planCard {
  background: #ffffff;
  border: 1px solid #27ae60;
  border-radius: 24px;
  height: 101px;
  padding: 5px;
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.planTitleWrapper {
  display: flex;
  padding: 13px 5px;
}

.planTitleBox {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.planTitleBox h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #303030;
}

.planTitleBox img {
  width: 18px;
  height: 18px;
  margin-left: 4px;
}

.optionCheckbox {
  box-sizing: border-box;

  margin-right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border-radius: 30px;
}

.discountBox p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.5px;

  color: #303030;
}

.thenPrice {
  color: #a4abb6;
}

.discount {
  text-decoration-line: line-through;

  color: #a4abb6;
}

.planPriceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.planPriceBG {
  position: absolute;
  right: 0;
}

.planPriceContent {
  position: relative;
  z-index: 1;
  width: 125px;
  text-align: center;
}

.planPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.5px;
}

.planPeriod {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5px;
}
