@import "@styles/variables.scss";

.logoWrapper {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.contentWrapper {
  padding-top: 82px;
  padding-bottom: 100px;
  width: 100%;
  margin: 0 auto;
  max-width: 730px;
}

.textWrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 550px;
}

.infoWrapper {
  position: relative;
  overflow: hidden;
  height: 220px;
  box-sizing: border-box;
  border-radius: 32px;
  padding: 18px 16px 15px;
  background-color: $main-light-orange;

  margin-bottom: 20px;
}

.link {
  cursor: pointer;
  margin-top: 18px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.5px;

  color: $main-gray;
}

.link:hover {
  color: $main-blue;
}

.infoImage {
  position: absolute;
  height: 216px;
  right: -18px;
  bottom: -11px;
}

.infoTitle {
  max-width: 200px;
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: $main-black;
}

.exampleWrapper {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.exampleOption {
  width: 55px;
  height: 15px;
  position: relative;

  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.37152px;

  color: $main-black;
}

.exampleRedLine {
  position: absolute;
  width: 45px;
  height: 1px;
  background-color: $error;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(160deg);
}

.correctWrapper {
  display: flex;
  gap: 4px;
  margin-bottom: 27px;
}

.correctOption {
  width: 55px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 3px;
  background-color: $secondary-green;

  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.37152px;

  color: $white-color;
}

.subtitle {
  margin-bottom: 3px;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: $main-black;
}

.priceWrapper {
  display: flex;
  align-items: center;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;

  width: 92px;
  height: 36px;

  background: $secondary-green;
  border-radius: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.5px;

  color: $white-color;
}

.discount {
  padding: 2px 7.5px;

  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.5px;
  text-decoration-line: line-through;

  color: $secondary-black;
}

.title {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.5px;

  color: $secondary-black;
}

.logoBox {
  display: none;
  justify-content: center;
  padding: 10px;
  background-color: $dark-black;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $white-color;
  padding: 20px 0 ;
}

.footerBox {
  width: 100%;
  max-width: 375px;
  padding: 0 12px;
  margin: 0 auto;
}

.shortDescription {
  color: $main-gray;
  cursor: pointer;
  margin-top: 18px;
  font-size: 14px;
}

.shortDescription:hover {
  color: $main-blue;
}

/* MEDIA QUERIES */
@media (min-width: 600px) {
  .logoBox {
    display: flex;
  }

  .logoWrapper {
    display: none;
  }

  .title {
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .description {
    font-size: 20px;
    line-height: 28px;
  }

  .mobileFooter {
    display: none;
  }

  .infoWrapper {
    height: 320px;
    margin-bottom: 30px;
    padding: 21px 109px 26px;
  }

  .infoTitle {
    max-width: 343px;
    margin-bottom: 39px;
    font-size: 36px;
    line-height: 42px;
  }

  .exampleOption,
  .correctOption {
    width: 80px;
    height: 15px;

    font-size: 16px;
  }

  .correctWrapper {
    margin-bottom: 35px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .price {
    width: 100px;
    height: 42px;

    font-size: 24px;
  }

  .discount {
    font-size: 24px;
    margin-left: 10px;
  }

  .infoImage {
    height: 341px;
    right: 53px;
    bottom: -22px;
  }
}
